[2020-01-03 11:59] mszbot opened #2 "cell formatting"
Does this library read cell formats? I.e. "percentage", "text" etc?

[2020-01-03 12:10] PydPiper commented on #2
Hi mszbot, thanks for taking a look at pylightxl. Currently this library only reads cell values. For example if your cell has: 10% in it or =10% both of these cells will evaluate to 0.1 within pylightxl and it will be type converted into float for you. Part of keeping this library small/simple and to the point is to not go beyond the cell data itself, therefore no cell colors, sizes, conditional f

[2020-01-03 12:29] PydPiper commented on #2
pylightxl read all cellvalues: integers, floats, text, and formulas (however as mentioned above formulas are evaluated, and only their value is stored by pylightxl).

xlrd is a great tool it's aim is similar with zero dependencies, however xlrd currently has no active developers and I don't know where the project is going to go in the future. pylightxl is very light weight and will be tailored tow

[2020-01-03 14:10] #2 closed

[2020-02-20 21:06] walkerh opened #8 "Problems when explicitly loading multiple sheets by name"
Steps to reproduce:

1. Create two trivial XLSX workbooks, one with 2 worksheets and another with 3 worksheets. I have attached examples.
2. Create a new python 3.7+ environment that contains ipython for demonstration. (I used 3.8.1; my colleague used 3.7.6.)
3. `pip install pylightxl`
4. Explore corner cases.

We find problems, especially when loading the last worksheet when naming the sheets exp

[2020-02-21 04:11] PydPiper commented on #8
Hey Walkerh,

Really appreciate the very well constructed issue request and examples. Top notch! It looks like there were 2 things going wrong in the reader. One was misalignment of user defined sheets to xml files (the reason why user defined "Sheet2" showed up as "Sheet1") and the other was using .pop method that I actually received an email about from another user as well.

The new version (v1.

[2020-02-21 04:11] #8 closed

[2020-03-28 07:48] samukweku opened #11 "Pathlib incompatibility and case sensitivity"
Not sure if I used the right headers for this issue; these are things I noticed when trying out ur application. I like the idea of minimal dependencies and would love to use the program especially when heavy duty transformations that require Pandas are not required.

Anyways, here goes my observations:

Running pylightxl-1.41

1. You cant read a file directly using Pathlib, u need to convert it ba

[2020-03-29 03:38] PydPiper commented on #11
Hi @samukweku, really appreciate the feedback. I am taking a look at the fixes now. There has been a few pull requests/bug-fixes since v1.41 so we are getting ready for v1.42 with these changes rolled in

[2020-03-29 04:03] PydPiper commented on #11
The latest commit contains the support for pathlib. Let me know if you are find anything else. The new version that will contain the fix will most likely not come out for a week or so. Still trying to add a few features before pushing a new version to pip, but for now please git clone the latest copy and see if that works out for you

[2020-03-29 04:03] #11 closed

[2020-05-07 02:23] PydPiper commented on #2
Hi mszbot, Thank you for your interest in pylightxl. The cell values are all of type INT, therefore pylightxl returned INT as well. Give it a go by reading in a cell of type INT and of type FLOAT yourself and hope everything works out as planned 😊 Let me know if you see something other than expected there Happy pythoning   From: mszbotSent: Wednesday, May 6, 2020 4:22 AMTo: PydPiper/pylightxlCc: P

[2020-05-10 09:31] jkyeung commented on #2
@mszbot - Well, I'm going to guess you meant 10.0 (rather than 0.10).

In the old BIFF files (binary .xls files), it's true that all numeric values were stored as floats (specifically, double-precision). However, with the advent of .xlsx, all the data is stored textually in XML documents. So a cell which contains 10.1 would show up in the XML with a value like this: `<v>10.1</v>` while a value of

[2020-05-10 17:54] jkyeung commented on #2
But xlrd would give you 10.0. I do not understand where you get 0.10 from. I understand that different locales have different conventions for decimal points and thousands separators, and maybe left-to-right versus right-to-left plays into this somehow; so to be clear, we are talking about the number ten, as in, the number of fingers a typical human has, including thumbs. That would appear in the P

[2020-05-11 06:59] jkyeung opened #12 "Some cell values are not read - possibly related to formulas"
pylightxl fails to read some of the cell values in the attached sheet:

[sample1.xlsx](https://github.com/PydPiper/pylightxl/files/4607974/sample1.xlsx)

In particular, C8, C9, and C10 are reported as empty when in fact they should all be `'G'`.

[2020-05-11 07:32] jkyeung opened #13 "Cell values beyond the 27th column are not read"
It looks like column AA is the rightmost column read by pylightxl. Columns AB and beyond all come up as empty.

For example, the last three cells in this sheet show up as empty in pylightxl:

[sample2.xlsx](https://github.com/PydPiper/pylightxl/files/4608093/sample2.xlsx)

But AB1 should be 27, AC1 should be 28, and AD1 should be 29.

[2020-05-22 03:18] PydPiper commented on #12
Hi jkyeung, which version of pylightxl were you using when you had this issue?

The latest version 1.42 off pypi read in column C just fine on my end:

[2020-05-22 03:47] PydPiper commented on #13
hi jkyeung,

thank you for submitting this issue. It does appear to be a bug, and we are looking into the fix now.

[2020-05-22 09:13] jkyeung commented on #12
I tested with pylightxl 1.42, Python 3.6.3, Windows 10.

[2020-05-28 02:09] PydPiper commented on #12
going to close this out. We were unable to replicate the issue

[2020-05-28 02:10] #12 closed

[2020-05-28 03:08] jkyeung commented on #12
That's unfortunate. I just noticed that I actually don't even get cell C7:

[code]

[2020-05-28 03:39] PydPiper commented on #12
![image](https://user-images.githubusercontent.com/35475223/83096230-03d4cd00-a05a-11ea-94fe-0f9b93b358d1.png)

sorry we were unable to replicate the issue on python 3.6.3 win10 same version as you

[2020-05-28 23:50] PydPiper commented on #13
bug fixed in version 1.43 and the current git repo. Thank you for catching this and reporting it.

![image](https://user-images.githubusercontent.com/35475223/83205420-5918e900-a103-11ea-842a-7112f8f572c2.png)

[2020-05-28 23:50] #13 closed

[2020-06-02 03:11] jkyeung commented on #12
It looks to me as though this was solved by the following from the 1.43 release notes:

I guess your "1.42" included [this commit](https://github.com/PydPiper/pylightxl/commit/ade2de837129fe71d3682d9cde614e4cdfb86a12) and mine didn't.

I'm glad it's fixed.

[2020-06-10 17:30] mszbot opened #14 "read worksheet on demand"
Is it possible to read 1 worksheet on demand to save on memory?

My research says this is not possible on xlsx files because they are zip/xml files. Is this correct?

[2020-06-12 02:51] PydPiper commented on #14
going to close this out - please feel free to reach out to us if you have any more question on this! :)

[2020-06-12 02:51] #14 closed

[2020-07-02 17:04] joylin1984 opened #15 "improvement write only"
Fix database class for improvement write only model:
[code]

[2020-07-02 17:19] joylin1984 opened #16 "I like the lightweight Library, so have two expectations"
I like the lightweight Library， Thank you for your jobs.

1. write cell with formatting
2. improve performance while maintaining lightweight

[2020-07-14 02:50] PydPiper commented on #16
Hi Joylin! We appreciate your feedback and thank you for considering using pylightxl for your projects! We are currently working on expanding the database functionality and improving read/write performance. We don't anticipate a new version release till late aug. Please check back then for updates

[2020-07-14 02:50] #16 closed

[2020-07-14 02:52] PydPiper commented on #15
Hi Joylin, could you explain the use case for this? Argument `data` is a required field with a nested dict format.

[2020-08-03 21:14] grantcurell opened #17 "Writing output seems to not handle Windows file paths correctly"
## Steps to reproduce

[code]

To double check that path is valid I wrote:

[code]
Which outputs `Is it File? True`.

## Error
[code]

## Update:

`xl.writexl(db, os.path.relpath(path, '.'))`

The above works using the relative path leading me to believe it's something about the absolute path.

[code]

also works.

[2020-08-05 03:29] PydPiper commented on #17
Hi,

Thank you for submitting this bug report. We are looking into it now

[2020-08-06 04:33] PydPiper commented on #17
the latest master branch has the updates for this bug. Thank you for submitting it. Once a few more features are incorporated this will be pushed to the next pip version.

[2020-08-06 04:33] #17 closed

[2020-08-08 11:48] Sehnryr opened #19 ".database.num2columnletters doesn't work properly with indexes above 727 (AAY)"
If the input was 728, we should espect "AAZ" but actually, the code returns "ABZ"

I could suggest to replace that function by :
[code]
That should resolve the issue 😉 (even though it's a totally different code)

[2020-08-08 15:58] PydPiper commented on #19
Thank you for submitting this, indeed this is a bug. Taking a look at your proposed solution now, but from the looks of it it's super clean!

[2020-08-09 01:16] PydPiper commented on #19
incorporated in v1.44 thank you for submitting this!!

[2020-08-09 01:16] #19 closed

[2020-08-17 01:10] PydPiper commented on #15
incorporated to support writing a database from scratch (instead of defining a database from reading an excel file)

thank you for your feedback

[2020-08-17 01:10] #15 closed

[2020-08-18 13:53] hgcummings opened #20 "Incorrect values for spreadsheets with large amounts of text"
In databases with large amounts of text, I'm finding that reading text from one field sometimes gives me the text (or even partial text) of another field.

As an example, using this publicly available Excel document: https://digital.nhs.uk/binaries/content/assets/legacy/excel/8/c/hes_data_dictionary_20170914.xlsx (note that there's a Content-Disposition header that means it will save under a diffe

[2020-08-18 14:43] PydPiper commented on #20
Hi there, thank you for taking a look at pylightxl and submitting this to our attention! We are taking a look at it now.

[2020-08-18 14:55] PydPiper commented on #20
This is a confirmed bug. We will take a look at the fix this week. I'll keep you posted on updates! :) thanks again for submitting this!

[2020-09-08 06:02] hgcummings commented on #20
Sorry for not responding sooner. Thanks for picking this up. I can confirm that my original issue is resolved in v1.46

[2020-09-30 13:45] infokiller opened #22 "Feature request: writing csv files to stream, not just file paths"
AFAIK, doing an in-memory conversion from xlsx to csv is cumbersome right now, because `writecsv` doesn't allow writing to any stream like `io.StringIO`

[2020-09-30 15:07] PydPiper commented on #22
Hi there good morning,

Thank you for considering using pylightxl and submitting a feature improvement. This should be any easy addin. I can cook this up later today and let you know when it is done

[2020-10-01 02:56] PydPiper commented on #22
i started working on this and realized i might not have all the information i need from your request. Can you add a bit more clarification?

would you like the `writecsv` return a in memory string? ex: `"THIS,THAT\nONE,TWO\n"`

[2020-10-01 10:05] infokiller commented on #22
I think the most flexible and backwards compatible way would be to have it write to a file object, which can be either a real opened file or something like `io.StringIO`.
So you would change the second parameter of `writecsv` to accept one of `str`, `pathlib.Path`, or file-like. The latter is what [csv.writer](https://docs.python.org/3/library/csv.html#csv.writer) accepts.

[2020-10-02 03:37] PydPiper commented on #22
take a look at the latest commit on master branch. I wrote some tests against it as well so it should work 👍

[2020-10-02 03:51] infokiller commented on #22
Thanks, that works!

[2020-10-02 03:51] #22 closed

[2020-10-04 17:03] laksh225 opened #23 "Unable to save an excel file after modifing it."
I tried modifying a file using the following script, but got an error as described below.
I am using python 2.7.13 with windows 7.
The excel sheet I imported is  [sales.xlsx](https://github.com/PydPiper/pylightxl/files/5323693/sales.xlsx)

`import pylightxl as xl
from datetime import datetime

def transform():
	db = xl.readxl("sales.xlsx")
	sheet = db.ws("Sheet 1")
	k = 2
	while str(sheet.index(k,

[2020-10-04 17:07] laksh225 commented on #23
The fix I've tried is add `namespaces.update(vt = 'http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes')` to line 74 of ElementPath.py in the directory Lib\xml\etree.
But this generates a different error.

===== RESTART: G:\Automation\Python2_7\tally_xml_generator\transform.py =====

Traceback (most recent call last):
  File "G:\Automation\Python2_7\tally_xml_generator\transform.p

[2020-10-04 17:44] PydPiper commented on #23
Hi @laksh225 thank you for considering pylightxl and submitting this issue. We are taking a look at it now

[2020-10-04 17:59] PydPiper commented on #23
Initial assessment came back negative on the latest version of pylightxl on python 2.7.18. Going to download 2.7.13 and test there

[2020-10-05 03:27] PydPiper commented on #23
created a docker container for python 2.7.13 downloaded the sales.xlsx and pip installed the latest pylightxl. i was not able to recreate the bug you are seeing. Are you using the latest version of pylightxl?

[2020-10-05 10:49] laksh225 commented on #23
Yes, I am using the latest version V1.47. I think I figured out the problem.  The problem was that I used openpyxl on the previous run to generate the salesmodified output file and now, when I changed to pylightxl, there was some problem in rewriting that file and maybe that caused this issue. Thanks for the quick reply!!!

[2020-10-05 10:49] #23 closed

[2020-10-20 09:33] Machearn opened #24 "Can not read xlsx file"
**Pylightxl Version**: 1.47
**Python Version**: 3.8.5

**Summary of Bug/Feature**: When I try to use ```readxl()``` to load my excel file, it raised ```ValueError``` exception.

**Traceback**:
[code]

**Suggestion for fix**: None

[2020-10-20 14:50] PydPiper commented on #24
Hi there,

Thank you for considering pylightxl. Sorry you ran into an issue we are taking a look now.

Was the spreadsheet created by another python library? Like openpyxl or xlrd? Can you provide the excel file in question?

[2020-10-22 13:28] Machearn commented on #24
Sorry, I can not provide the excel file, because it contains secret infomation of my company

[2020-11-19 04:45] PydPiper commented on #24
new pylightxl version 1.48 addresses excel file read/write that were created by openpyxl that caused an issue for pylightxl to read/write excel files. Please take a look at the new version and open a new issue if the problem still exists.

[2020-11-19 04:45] #24 closed

[2020-11-29 18:51] moonso opened #25 "Read content from stream"
**Pylightxl Version**:
1.47
**Python Version**:
3.7

**Summary of Feature**:
Hi, thanks for a nice package. Is there any way to read from a file stream?
Like:

[code]

**Suggestion for fix**

Add a new argument to readxl like `pylightxl.readxl(file_content=excel_file.read())`

[2020-11-29 23:03] PydPiper commented on #25
Hi thank you for considering using pylightxl. Not at the moment. We are currently working on parsing from stream when file size limit is detected for fast and efficient reading

[2020-12-02 23:31] articbear opened #26 "Incomplete licensing"
The documentation includes a full copy of the license and pylightxl.py references the MIT license but does not appear to include the full.

Because the MIT license requires to be included in all "substantial portions of the Software" it is not clear that pylightxl.py is properly released under the MIT license.

[2020-12-03 02:31] PydPiper commented on #26
thanks for the catch. Fixed with version 1.51

[2020-12-03 02:31] #26 closed

[2021-01-27 15:52] Darcy-C opened #31 "KeyError bug in readxl"
**Pylightxl Version**:1.51
**Python Version**:3.8.3
**Office Version**: LibreOffice 7.0.4.2

**Summary of Bug/Feature**:  KeyError Bug

**Traceback**:

[code]

**Suggestion for fix**:

[code]
I found ordered_ws is  {2: 'sheet1', 3: 'sheet2', 4: 'sheet3'}
It seems like the start number is 2 instead of 1.
so I do that change, that worked for me.
I am using LibreOffice to edit this xlsx file. So mayb

[2021-01-27 16:14] Darcy-C commented on #31
I find it's a duplicate issue. I close it.
[issue page](https://github.com/PydPiper/pylightxl/pull/28/files)

[2021-01-27 16:14] #31 closed

[2021-01-27 17:43] PydPiper commented on #31
hi there,

can you try to upgrade to v1.52 and see if that fixes your issue?

On Wed, Jan 27, 2021 at 7:53 AM Darcy <notifications@github.com> wrote:

--
Best,
Viktor Kis

[2021-01-29 05:32] Darcy-C commented on #31
Thank you. v1.52 fixes my issue :>

[2021-02-21 16:28] bhanu-subramanya opened #32 "writexl does not handle creating files in correct directory"
Version: 1.51
Python Version: 3.8.2
**Summary of Bug/Feature**:
There are two issues in writexl_alt_writer function called by writexl
1) It does not handle use case where a path with dirname/filename is passed. It ends up writing files in "." instead of creating/writing files in "dirname".
2) Line 569 uses a windows directory separator ("\") instead of using os independent approach to create path

[2021-02-22 00:59] PydPiper commented on #32
Hi bhanu-subramanya, thank you for submitting this issue. I am working through the fix at the moment and will release a new version later today!

[2021-02-22 02:40] PydPiper commented on #32
@v1.53 fixed the bug

[2021-02-22 02:40] #32 closed

[2021-03-04 02:43] jackcsk opened #33 "Typo In Error Message"
**Pylightxl Version**: 1.53
**Python Version**: 3.9.2

**Summary of Bug/Feature**:
On `readxl_check_excelfile(fn)`, the error message:
`UserWarning('pylightxl - File ({}) does not exit.'.format(fn))` has a typo:
`exit` -> `exist`

**Traceback**:

**Suggestion for fix**:
Correct the typo

[2021-03-12 04:37] PydPiper commented on #33
Hi Jackcsk. Thanks for considering pylightxl and submitting this! It is fixed on the current github master, this will be rolled into the next release

[2021-03-12 04:37] #33 closed

[2021-03-19 14:22] tieugene opened #35 "Doc creation errors"
push doc && make html:
[code]

[2021-03-22 02:12] PydPiper commented on #35
Hi and thank you for considering using pylightxl! Thanks for submitting this documentation miss. We pushed the fix to the current master branch the doc's should be updated as well! See https://github.com/PydPiper/pylightxl/commit/5f21310d5bd805bda43ded58d10653200a09e1e2

[2021-03-22 02:12] #35 closed

[2021-03-25 16:53] VladislavN opened #36 "Read datetime cell"
Hi, how i can parse datetime with your library?
![Снимок экрана от 2021-03-25 19-51-35](https://user-images.githubusercontent.com/33672258/112511642-aad1e480-8da3-11eb-8be7-263fd8e794b6.png)
![Снимок экрана от 2021-03-25 19-51-53](https://user-images.githubusercontent.com/33672258/112511648-ac031180-8da3-11eb-9758-f1470f37135b.png)

[2021-04-11 01:21] PydPiper commented on #36
Hi Vladislav, thank you for considering using pylightxl. We added datetime handling in v1.54. Please upgrade your pylightxl with `pip install pylightxl -U`

[2021-04-11 01:21] #36 closed

[2021-04-12 19:45] UdbhavPrasad072300 opened #39 "Issue reading Excel file"
**Pylightxl Version**:  1.54
**Python Version**: 3.8.6

**Summary of Bug/Feature**: Issue reading an excel file

**Traceback**:
[code]

**Suggestion for fix**: I do not know.

MY CODE:
[code]

My excel file is excel 2010, which versions of excel is this library capable of handling?

[2021-04-12 21:36] PydPiper commented on #39
Hi, thanks for considering using pylightxl. Pylightxl supports 2003+ excel files (.xlsx) files. Is it possible for you to attach a sample file that gave you this error?

[2021-04-12 22:22] UdbhavPrasad072300 commented on #39
I cannot add the excel file because it contains confidential information from my current workplace but I can say it is from an output file from openpyxl (which I believe is excel 2010).

[2021-04-12 23:19] PydPiper commented on #39
Thank you for the additional information. We will try to recreate the issue on our end with openpyxl and get back to you.

[2021-04-29 16:47] JavierRenero opened #40 "Issues reading range of cells, each cells have decimals"
**Pylightxl Version**: 1.54
**Python Version**: 3.9.2

**Summary of Bug/Feature**: Issues reading range of cells, each cells have decimals

**Traceback**: i do not know how to do it

**Suggestion for fix**: No clue

**My Code**:

    conjEntrenoList = db.ws('Hoja1').range('A1:E135')
    conjTestList = db.ws('Hoja2').range('A1:E15')

[2021-04-30 02:49] PydPiper commented on #40
Hi Javier, thank you for considering using pylightxl. The current tests run a series of tests against various data types, integers, floats, strings, formulas and they are all showing appropriate results. Can you provide a bit more information on what the issue is that you are seeing? We were unable to replicate the issue from our end.

[2021-04-30 03:15] PydPiper commented on #39
Unable to replicate the issue with openpyxl created spreadsheet, however we did include a exception in the latest master branch. Can you pip install git+https://github.com/PydPiper/pylightxl.git and see if that fixed your issue?

[2021-04-30 03:25] #39 closed

[2021-04-30 07:18] JavierRenero commented on #40
i can give u the excel if  you want to replicate the error. Some funtion names and tag ar in spanish if u need traduction i will help you.
[IrisMod.xlsx](https://github.com/PydPiper/pylightxl/files/6403525/IrisMod.xlsx)
[tryFloat.txt](https://github.com/PydPiper/pylightxl/files/6403546/tryFloat.txt)

[2021-04-30 07:18] JavierRenero commented on #40
tryfloat if the code thank you for your time.

[2021-05-04 12:50] redsigma opened #41 "Read comment from cell"
**Pylightxl Version**:
1.54
**Python Version**:
3.5.3

**Summary of Bug/Feature**:
Is it possible to get the comment of each cell or maybe for the first cells in the first row

[2021-05-04 16:29] PydPiper commented on #41
Hi Redsigma, thanks for considering using pylightxl. This new feature shouldnt be too hard to add. I can take a look at it this week

[2021-05-06 07:16] JavierRenero commented on #40
you finally solve it or not clue of the error

[2021-05-06 14:36] PydPiper commented on #40
please do a ``pip install git+https://github.com/PydPiper/pylightxl.git -U`` off of github that has the fix. We will include the fix in the next pypi release shortly

[2021-05-07 13:54] Warqus commented on #25
@PydPiper Thanks for the amazing library. What is the status on this?

[2021-05-09 17:12] PydPiper commented on #25
Hi Warqus, i opened this issue up seeking for some help, but havent received any takers. I will try to take a stab at it today and will let you know how far i get :)

[2021-05-10 08:45] Warqus commented on #25
@PydPiper Thanks for your reaction! The reason why I asked is because I want to use this library in Django, since it has no dependencies. Pandas is way too big.

The issue I stumbled upon was that I want to read a file from a upload with the file field. I tried using the file name and path name, but both were not found. However, I am able to read a filefield with 'with open():'.

[2021-05-10 14:17] PydPiper commented on #25
@Warqus That is interesting that pointing the reader to the file path did not work. Are you sure that file exists and is downloaded with django?

However i will add the `with block` later today then and we can give it a test on your side to see if it resolved the issue

[2021-05-11 03:50] PydPiper commented on #41
Hey @redsigma please check out the latest master branch. I've added comments parsing. I am working on another feature at the same time so the new version to pypi will not go out till most likely this weekend, but for now you can `pip install git+https://github.com/PydPiper/pylightxl.git` and use it.

for example
[code]

note that all indexing methods got updated with a new argument `output` that i

[2021-05-11 14:50] qq2898 opened #43 "py2.7 must be 2.7.18 ?"
Does pylightxl  SUPPORT other small version of python 2.7 like 2.7.10~ 2.7.17 ?

[2021-05-12 02:05] PydPiper commented on #43
Hi @qq2898, thank you for considering using pylightxl. The original tests were run on python2.7.18, however I created a docker container for 2.7.10 and all tests passed! You are safe to use pylightxl on python2.7.10.

[2021-05-12 02:05] #43 closed

[2021-05-12 03:12] PydPiper commented on #25
@Warqus @moonso please check out the current master branch for the update. Use `pip install git+https://github.com/PydPiper/pylightxl.git` to install v1.55b and let me know if you have any questions/issues on your end using it. Note that you will have to feed the open object a `rb`

for example:
[code]

[2021-05-12 09:23] Warqus commented on #25
@PydPiper I can't thank you enough! Really awesome work. I tested it within Django and it works :)

I had to use a small workaround. In Django, using a freshly uploaded file is apparently different than using an already uploaded file. My workaround:

[code]

[2021-05-12 14:19] JavierRenero commented on #40
it still happens i don't know how to solve it

[2021-05-12 14:35] PydPiper commented on #40
hi @JavierRenero can you try and uninstall pylightxl and install it via `pip install git+https://github.com/PydPiper/pylightxl.git` the new version will be released shortly on pypi

[2021-05-12 14:37] PydPiper commented on #25
@Warqus awesome news! I will look into your work around after work today and we’ll try again. Once this is set I’ll release a new version on pypi

[2021-05-12 14:53] JavierRenero commented on #40
I already did it.
![image](https://user-images.githubusercontent.com/47631050/117996583-8fff0380-b342-11eb-9a4b-e3e2631187de.png)

[2021-05-12 14:55] JavierRenero commented on #40
and it still happend.

Output:
`[[0.22222222222222213, 0.6249999999999999, 0.06779661016949151, 0.04166666666666667, -1],...`
Should be:
![image](https://user-images.githubusercontent.com/47631050/117996876-d18fae80-b342-11eb-9d6b-ca3ebede2f1f.png)

[2021-05-12 14:59] PydPiper commented on #40
i am not seeing the error there. The integer -1 is still an integer -1

[2021-05-12 15:02] JavierRenero commented on #40
what happens is that in some position the number increases by a decimal

[2021-05-12 15:08] PydPiper commented on #40
Here is the raw data out of your spreadsheet. There is no rounding or truncation done by pylightxl. It is directly ready from the full data that excel stores:
![image](https://user-images.githubusercontent.com/35475223/117998925-345c5800-b2f9-11eb-9306-58b91d7f5b17.png)

[2021-05-12 18:16] JavierRenero commented on #40
okay it is correct my fault it is correctly done thanks you any ways, is just excel that truncation the numbers on the interface

[2021-05-12 18:16] #40 closed

[2021-05-13 02:54] PydPiper commented on #25
@Warqus i uploaded a new version that hopefully removes the work-around you needed to add. Can you let me know if that works and ill wrap this up if it is all okay

[2021-05-13 09:10] Warqus commented on #25
@PydPiper Thanks for trying. Unfortunately it didn't work.

I am not sure how many people will have this problem in the future, so I don't mind using the BadZipFile exception as fix.

[2021-05-17 03:42] PydPiper commented on #25
pypi version 1.55 released that fixes this issue. Thank you for considering using pylightxl!

[2021-05-17 03:42] #25 closed

[2021-05-21 10:54] redsigma opened #44 "Cannot open excel xlsx file"
**Pylightxl Version**:
1.55 , 1.54
**Python Version**:
3.7

**Summary of Bug/Feature**:
Cannot open xlsx excel file. Using the following code:
[code]

**Traceback**:
[code]

[2021-05-21 10:54] redsigma commented on #44
Could be similar to #23

[2021-05-21 11:01] PydPiper commented on #44
Hey @redsigma thanks for posting this. I will take a look at it today and get back to you. I suspect you are correct, it must be another program’s generated excel file that does not have all the proper namespace that excel writes by default. If thats the case for this one as well, I’ll go through and add a try except to all namespace parsing and see if that helps

[2021-05-21 11:34] PydPiper commented on #44
It looks like the spreadsheet format is different than what current excel versions produces and openpyxl as well. Unable to tell if this spreadsheet was produced by a tool or an older version of excel but the issue appears to be an extra tag on the xml:
`<x:sheets>` versus openpyxl and current excel version write `<sheets>`. I will take a look at adding support for this. Thanks again for posting t

[2021-05-22 19:19] PydPiper commented on #44
Hi @redsigma i pushed the update to the master branch that is able to parse the tool generated spreadsheet you linked. I am working on a few other features so this update will get rolled it with those features in the coming week or so. Until then please use the master branch. Thanks for posting this and let me know if you have any more questions/troubles. As always thanks for considering using pyl

[2021-05-22 19:19] #44 closed

[2021-06-06 17:32] AmrKhaledNowahy opened #46 "RecursionError: maximum recursion depth exceeded while calling a Python object"
**Pylightxl Version**: 1.55
**Python Version**: 3.8

**Summary of Bug/Feature**:
Throws RecursionError: maximum recursion depth exceeded while calling a Python object

**Traceback**:
j5a2q  [2021-06-06 17:51:48,991]  [ERROR] file_upload_views.post : FileUpload exception.
j5a2q  Traceback (most recent call last):
j5a2q    File "/home/app/web/api/all_views/file_upload_views.py", line 72, in post
j5a

[2021-06-08 02:41] PydPiper commented on #46
Hi @AmrKhaledNowahy
Thank you for considering using pylightxl. We’ll take a look at this issue this week. Thanks for posting it.

[2021-06-21 10:20] zhanilia opened #47 "Wrong index assignment: self.size[1] should be self.size[0]"
https://github.com/PydPiper/pylightxl/blob/d943773734eb72888d9fc5abdf3e8a553317cb0a/pylightxl/pylightxl.py#L1871-L1888

[2021-06-23 04:47] PydPiper commented on #47
@zhanilia thank you for catching this! I pushed the fix to the master. We are waiting on a few more updates before we release a new version on pypi, but for now you can install via the master branch.

[2021-06-23 04:47] #47 closed

[2021-06-24 04:41] jkyeung opened #48 "Make use of defusedxml if available"
I understand that being packaged as a single-file module with no external dependencies was an explicit goal of this project, and it's one that I support. However, now that it relies on ElementTree for parsing rather than on regular expressions, perhaps you would consider at least optionally making use of defusedxml if installed.

[2021-06-25 02:06] PydPiper commented on #48
hey @jkyeung thank you for submitting this and bring it to attention. Yes, i agree this would be a move toward better security and should not be difficult to implement. I'll have to spend a bit of time on understanding the package and ensuring all tests still work

[2021-06-25 02:09] PydPiper commented on #46
@AmrKhaledNowahy sorry but it is unclear as to where pylightxl has an issue in your Traceback. Can you help us better understand how this error came about?

[2021-07-09 10:36] Darcy-C opened #49 "Multiline string not working in writecsv"
**Pylightxl Version**: 1.55
**Python Version**: 3

**Summary of Bug/Feature**:
Method `writecsv `does not support multiline contents (cell that includes "\n"), which will break the database structure sometime

**Suggestion for fix**:

My easiest implementation
[code]
https://github.com/PydPiper/pylightxl/blob/b17a50e3ab6c5544dd6fe9129bdbabb2123983c6/pylightxl/pylightxl.py#L1343-L1344

[2021-07-29 16:04] luphord opened #50 "Workbook written by pylightxl crashes Excel"
**Pylightxl Version**: 1.55
**Python Version**: 3.8

**Summary of Bug/Feature**:
Opening an Excel workbook written by `pylightxl`, then opening the same workbook again (without closing it first) crashes Excel. Also, it is not possible to add new Worksheets to these workbooks. Clicking `+` fails with the error message `This action won't work on multiple selections.`.

![error_message](https://user-

[2021-07-31 01:20] Leslielu opened #51 "Pylightxl Encoding Problem Proccessing Chinese excel File."
**Pylightxl Version**:1.56beta
**Python Version**:3.8.10

**Summary of Bug/Feature**:
When Pylightxl deal with a chinese excel file(xlsx), it encounter a encoding problem

**Traceback**:
Traceback (most recent call last):
  File "tjexcel.py", line 103, in <module>
    main()
  File "tjexcel.py", line 98, in main
    xl.writexl(db=db, fn=myfilepath)
  File "C:\Program\py\pylightxl\pylightxl.py", li

[2021-08-01 22:18] PydPiper commented on #46
closing for now due to inactivity

[2021-08-01 22:18] #46 closed

[2021-08-01 22:19] PydPiper commented on #49
Hi @Darcy-C thank you for considering using pylightxl for your project. I am taking a look at this issue today

[2021-08-01 22:55] PydPiper commented on #49
Hi @Darcy-C the issue had been resolved. New line `'\n'` will be removed within strings to prevent the writer writing the same row on multiple lines. Thank you for submitting this and let us know if you find anything else!

[2021-08-01 22:55] #49 closed

[2021-08-01 22:59] PydPiper commented on #50
Hi @luphord thank you for considering using pylightxl for your project. I am taking a look at the issue now

[2021-08-01 23:05] PydPiper commented on #50
Thank you for bring this to our attention, you are correct this is in fact a bug around sheetViews. sheetViews is the the pointer for excel to reopen a workbook in the last saved worksheet tab view. This is an extra feature that is unnecessary for pylightxl and therefore i removed it. This change will be reflected in v1.56

[2021-08-01 23:05] #50 closed

[2021-08-01 23:07] PydPiper commented on #51
Hi @Leslielu thank you for considering using pylightxl for your project. I am taking a look at this issue now

[2021-08-01 23:13] PydPiper commented on #51
Thank you for submitting this issue. We had made the update to include `encoding='utf-8'`. Please update pylightxl to v1.56. Please let us know if you run into anything else!

[2021-08-01 23:13] #51 closed

[2021-08-01 23:45] PydPiper commented on #48
Hey @jkyeung i took a deeper look at defusedxml and played around a bit, however we are unable to add support for this library at the moment since it does not support ElementTree.register_namespace. A work around would be a big overhaul at the moment and i was not able to gather how to go about registering namespace using defausedxml.

Thank you for the suggestion, please let me know if you find a

[2021-08-02 15:16] luphord commented on #50
Awesome, thanks for the quick response @PydPiper!

I can confirm that the issue is fixed in v1.56.

[2021-08-30 16:46] AndreMPCosta opened #53 "Error while trying to open a file"
**Pylightxl Version**: 1.56
**Python Version**: 3.9.1

**Summary of Bug/Feature**:
When trying to open a file, I get invalid literal error.

[code]

If I open the file and save it on Excel, the above 2 lines work, so I don't know what's the issue (The file was downloaded from somewhere else, it is a generated file).
**But I want to be able to use this without having Excel, or having to open the fi

[2021-08-31 11:17] Blanket58 opened #54 "Writing to an existing excel file will cause a warning when opening it."
**Pylightxl Version**: 1.56
**Python Version**: 3.7.9
**Platform**: win 10 x64

**Summary of Bug/Feature**:
Writing to an existing excel file will cause the warning "We found a problem with some content in Excel. Do you want us to try to recover as much as we can? If you trust the source of this workbook, click Yes." when opening it.

**Traceback**:
 There is no error in python.

**Suggestion for

[2021-09-01 04:14] PydPiper commented on #53
Hi @AndreMPCosta thank you for considering using pylightxl. I see that the issue is caused by the unique sheedID conversion. The standard excel generated format is rID#, it looks like your generated excel does not follow this convention. Can you confirm that your spreadsheet can be opened by excel without a warning? If so then we can work on adding this support on the next release

[2021-09-01 04:25] PydPiper commented on #54
Hi @Blanket58 thank you for considering using pylightxl. We were not able to replicate the issue from our end. The file opens in excel without warning. Can you send us the 'test.xlsx' that you machine wrote with this script to see how it is different. In the mean time please double check that you do in fact have pylightxl v1.56

[2021-09-01 06:21] Blanket58 commented on #54
As you request, I rechecked my version of pylightxl, I'm 100% sure it is v1.56. Here is my broken excel file and I'm using Excel 2016.
[test.xlsx](https://github.com/PydPiper/pylightxl/files/7088685/test.xlsx)

[2021-09-01 08:54] AndreMPCosta commented on #53
Hey,
I can confirm that I can open the file in Excel without any warning.

[2021-09-20 19:27] sbardian commented on #53
getting the same error.  is this being addressed in the next release?  Thanks!

[2021-09-21 01:51] PydPiper commented on #54
Hi @Blanket58 thank you for submitting the sample file. I was able to locate the source of the issue. There appears to be a custom.xml file that is created by your system when you create a spreadsheet. The write to existing workbooks in pylightxl works on the bare minimum of a spreadsheet (cell values), therefore any customization is removed on writing to existing. We have not encountered this fil

[2021-09-21 02:07] PydPiper commented on #53
@AndreMPCosta @sbardian thank you for your patience, please download the latest version of pylightxl v1.57 that will have the fix to this issue. Thank you for submitting it and making pylightxl better for it!

[2021-09-21 02:07] #53 closed

[2021-09-21 02:07] #54 closed

[2021-09-21 14:17] sbardian commented on #53
@PydPiper not sure this will solve the issue for me? It may fix for the sheet ID listed in the issue "GemRid775394", the ID I'm getting is in the format "R47fd958b504b4526" and still breaks when calling int() on the result of the split?

[2021-09-22 20:38] AndreMPCosta commented on #53
I've had kind of a rush of dealing with those excels files, so I've switched to another lib, but I hope it helped tackling the issue for whoever encountered it!
Thanks for fixing it (can't test now).

[2021-09-23 16:27] sbardian opened #55 "Error opening Excel file"
**Pylightxl Version**:  1.57
**Python Version**:  3.9.1

**Summary of Bug/Feature**:
Error opening excel file because of Sheet ID issue.  See issue #53

**Traceback**:
[code]

**Suggestion for fix**:
PR:  #56

[2021-09-25 23:39] JhonySousa opened #57 "Load excel from file-like object"
**Pylightxl Version**:1.57
**Python Version**:3.9.7

**Summary of Bug/Feature**: I receive the data from an HTTP request, convert to an file-like obj using io.BytesIO() and it dosen't load the excel.... Using the *openpyxl* works, and if I write the data received from the HTTP request in to an file and pass the path to the *pylightxl.readxl* works...
_sorry for my English (Using Google Translate)_

[2021-10-04 03:07] PydPiper commented on #55
@sbardian Thank you for submitting this. Sorry i've been tied up with school i will make time to run through this PR this week! Thanks again

[2021-10-04 03:10] PydPiper commented on #57
Hi @JhonySousa thank you for considering using pylightxl. I will take a look at this issue this week and get back to you. It sounds like a straight fileIO object doesnt work for you with pylightxl. I will try to replicate the issue locally and see what we can do.

[2021-10-05 03:14] PydPiper commented on #55
@sbardian good stuff, thank you for contributing! The PR is merged into the master, i will take a look at few more features before releasing the new version with this fix. Until then please use the master branch

[2021-10-05 03:14] #55 closed

[2021-10-05 04:01] PydPiper commented on #57
Hi @JhonySousa please upgrade pylightxl to v1.58. The new version should have your fix. Please let us know if you have any more questions. Thank you for using pylightxl!

[2021-10-05 04:01] #57 closed

[2021-10-27 17:05] Spectre5 opened #59 "Error when access formula with None stored"
**Pylightxl Version**:  1.58
**Python Version**:  3.7

**Summary of Bug/Feature**:  When using `sheet.row` with `output='f'`, I get the traceback shown below.  I've printed the `sheet._data` dictionary and it does in fact have `None` for some of the formulas.  It is an array formula that I see it.

**Traceback**:
[code]

**Suggestion for fix (Option 1)**:  Fix the immediate issue only

Change this

[2021-11-02 04:23] PydPiper commented on #59
Hi @Spectre5, thank you for submitting this comprehensive issue. It was really easy to go back and make the changes. I have updated the master, but will hold off on releasing a new version till we get a more more improvements in.

[2021-11-02 04:23] #59 closed

[2021-11-18 11:12] alexvr8282 opened #61 "Formula: values ​​that depend on a formula are not updated"
**Pylightxl Version**: 1.58
**Python Version**: 3.9

**Summary of Bug/Feature**: I've a excel with 3 sheets where there are many formulas. When i changed values on a sheet on other sheets i don't see updating of the value that it dependes from a formula.

[2021-11-23 05:22] PydPiper commented on #61
Hi @alexvr8282  thank you for considering using pylightxl. So currently pylightxl works on static values/formulas of what it extracts from excel on time of read. It does not update the formulas/values until you load it up in excel. There are other libraries out there like xlwings that would handle dynamic updating. Hope that helps

[2021-11-23 05:22] #61 closed

[2021-11-24 12:16] Aitor13 opened #63 "I can read file"
**Pylightxl Version**: 1.58
**Python Version**:3.9.2

**Summary of Bug/Feature**: I can not pass the path of file to read with  "xl.readxl(path)"

**Traceback**:
TypeError                                 Traceback (most recent call last)
<ipython-input-19-bb6a14dcb95b> in <module>
      3 path = pathlib.Path(r'C:\Users\aitor.fernandez\Downloads\Report mensual comunicaciones 09_2021_V1.xlsx')

[2021-12-06 22:52] steven-tjong commented on #63
I also have a similar problem now. Did you happen to edit the file with `openpyxl` before?

[2021-12-06 23:23] PydPiper commented on #63
Hey everyone, sorry for the delay on addressing this its finals week. This should be resolved next week. Thank you for your patience

[2021-12-10 18:54] Aitor13 commented on #63
Yes, with openpyxl no problem

[2021-12-10 18:54] Aitor13 commented on #63
Thank you!

[2021-12-10 23:42] steven-tjong commented on #63
Is there a way for us to help btw?

[2021-12-11 00:22] PydPiper commented on #63
yes, of course! If you guys figure out the bug and send in a merge request, those are usually easier and faster for me to incorporate

[2021-12-14 01:26] PydPiper commented on #63
@Aitor13 I was not able to replicate the error. I altered an existing excel file with openpyxl as it appears that is what you have done and added a named range since the trace appears to stop there but the file was able to be read back in to pylightxl. Can you send a simple excel file where this error exists?

[2021-12-14 10:21] newhying opened #64 "a Suggestion in readxl_get_sharedStrings"
**Pylightxl Version**:1.58
**Python Version**:3.8

**Suggestion for fix**:
in
def readxl_get_sharedStrings(fn)

text = ''.join([tag.text for tag in tag_t])
maybe chang to:
text = ''.join([tag.text for tag in tag_t if tag.text])

because some time tag.text is None

[2021-12-14 22:42] PydPiper commented on #64
@newhying thank you for considering using pylightxl for your project. Can you post the full traceback where this was an issue. The following line should be sufficient to handle tags
[code]

[2021-12-15 01:07] newhying commented on #64
Traceback (most recent call last):
  .........................
    t_driver.workbook = pylightxl.readxl(filename)
  File "d:\python\python38\lib\site-packages\pylightxl\pylightxl.py", line 129,
in readxl
    sharedString = readxl_get_sharedStrings(fn)
  File "d:\python\python38\lib\site-packages\pylightxl\pylightxl.py", line 319,
in readxl_get_sharedStrings
    text = ''.join([tag.text for tag in

[2021-12-15 01:15] PydPiper commented on #64
I see, great thanks for submitting this. This should be an easy update. I'll make the change now and once the other issue is also close we'll release a new version.

[2021-12-15 21:29] steven-tjong commented on #63
I added a formula that is only available for microsoft excel 365 to encounter that problem btw, formulas like this:

`worksheet['C5'].value = '=UNIQUE(B5#)'`

which gives me the following error if opened with pylightxl:

[code]

More info:
1. The syntax `#` only available in excel 365 and `openpyxl` works with excel 2010
2. But more importantly, normal excel will also fail to open the file (having

[2021-12-18 08:01] newhying opened #65 "a question in readxl_get_workbook"
def readxl_get_workbook(fn):
.......
    for tag_sheet in root.findall('./default:sheets/default:sheet', ns):
        name = tag_sheet.get('name')
        try:
            rId = tag_sheet.get('{' + ns['r'] + '}id')
        except KeyError:
            # the output of openpyxl can sometimes not write the schema for "r" relationship
            rId = tag_sheet.get('id')
        sheetId = int(re.sub(

[2021-12-30 08:19] felipekleindias commented on #54
Hello @PydPiper  ,
I've been facing the same issue when trying to generate an excel file. I´m using the pylightxl version1.58.
I was wondering if you could help to figure out what is happening.~
Thank you
[Sheet1.xlsx](https://github.com/PydPiper/pylightxl/files/7792046/Sheet1.xlsx)
.

[2021-12-31 05:57] PydPiper commented on #54
@felipekleindias hey sure i can take a look and get back to you this week

[2021-12-31 17:36] PydPiper commented on #65
@newhying thank you for submitting this. I agree moving the `readxl_get_workbookxmlrels` outside the tool will be faster. There is a potential that external tools may write each sheet differently. I can make this update however it may get reverted if others run into issues due to this

[2021-12-31 17:36] #65 closed

[2021-12-31 17:41] PydPiper commented on #64
will be released in v1.59 later today, thanks for submitting this

[2021-12-31 17:41] #64 closed

[2021-12-31 17:59] PydPiper commented on #54
@felipekleindias it appears the sheet name was an empty string. Did the original worksheet have a sheet name? or did you alter the sheet name to be empty then try to write to this existing workbook? Either way that was the cause the issue. If you set the sheetname the be something with `rename_ws()` it should fix the issue. I will add a to `rename_ws()` as well to not allow for an empty string nam

[2021-12-31 18:29] PydPiper commented on #63
@steven-tjong hey i took a deeper look at the new office 365 "spill array" which is what the `#` is in reference to and without getting 365 myself i wouldnt be able to dig further into it. i am not sure what the structure of the xml is for such reference. However we can see if i can dig into it if you send a office 365 file with a simple `unique(B5#)` used in it.

[2022-01-02 20:26] felipekleindias commented on #54
Hello @PydPiper,
Thank you for your help. This was indeed my problem.
I´m generating the excel file from a table in a sqlite database and after your comment I noticed that I had a problem in my code when assigning the sheet name.
Congratulation for the great job you' re doing with this library. I´m using it to import excel files to a sql database, run some scripts in sql and then export to an exce

[2022-01-20 05:13] PydPiper commented on #63
@steven-tjong right, thank you for posting. Yes currently pylightxl does not support the new office 365 features such as the one you showed in the figure (spill arrays). I will keep this issue open until pylightxl addressed the new 365 features, but for the mean time i will add a disclaimer/limitation to pylightxl that it does not support new 365 features like spill arrays.

[2022-03-05 07:59] spaceofmiah commented on #36
![datefield](https://user-images.githubusercontent.com/37231237/156874134-8ff5240a-3dd2-41f9-b8fd-0ea476fe8ccc.png)

Date field is resulting to numeric value when read. Initially I felt it was a timestamp, but after conversion from timestamp, I get a wrong date. How do I rightly retrieve the date value from a cell. Below is a code sample of what i'm doing:

![shot](https://user-images.githubuserco

[2022-03-10 17:41] PydPiper commented on #64
@yohanboniface hey yes sorry ive been tied up with school. I’ll take a look at releasing a new version today after work. Thanks for the reminder!

[2022-03-11 05:18] PydPiper commented on #36
@spaceofmiah thank you for letting me know. I took a look and found out that the issue was Microsoft's use of custom styles that are not part of the base xml datetime styles [link](https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.spreadsheet.numberingformat?view=openxml-2.8.1)

I released a new version v1.59 please download the new version for support of the custom datetimes.

[2022-03-11 05:18] PydPiper commented on #64
@yohanboniface v1.59 was released with this update. Thank you again for the reminder!

[2022-03-11 08:40] yohanboniface commented on #64
Thanks @PydPiper :)

[2022-05-29 23:46] tbc399 opened #67 "Reading CSVs from a file object"
**Pylightxl Version**:
1.59
**Python Version**:
3.10.0

**Summary of Bug/Feature**:
I'm scouting out libraries to use for parsing both csv and xlsx files, and I came across pylightxl. I like it since it can do both, and it's obviously lightweight. I'm wondering if there's a particular reason `readcsv()` is not able to read from a file object. If it's strategic, no worries. If it's just a matter of

[2022-05-31 13:31] PydPiper commented on #67
Hi @tbc399 thank you for considering using pylightxl for your project! You hit it on the head, it's simply just not there yet since it has not been requested until now. I 100% welcome contributions if you want to take a crack at it!

[2022-05-31 22:09] tbc399 commented on #67
Great. I'll do some poking and prodding to figure out what needs to be done to get this in. Thanks!

[2022-06-01 21:48] tbc399 opened #68 "Writing Excel to File Object"
**Pylightxl Version**:
1.59
**Python Version**:
3.10.0

**Summary of Feature**:
In light of my previous [issue/request](https://github.com/PydPiper/pylightxl/issues/67) regarding reading a CSV from a file object, I noticed there doesn't appear to be a way currently to write an xl file to a file object via `writexl()`. I could see something like that being useful where you need to put a file out to

[2022-06-02 13:10] ZeeD opened #69 "(feature request) please consider adding type defintions"
**Pylightxl Version**: 1.59
**Python Version**: 3.9

**Summary of Bug/Feature**: at the moment pylightxl doesn't use types, nor it expose them. So tools like `mypy` cannot check the user interactions

**Traceback**:

**Suggestion for fix**:add typing annotations to the module

[2022-06-14 00:59] PydPiper commented on #69
@ZeeD Thank you for considering using pylightxl for your project. This should be an easy add, we'll just have to make sure it is py2 backwards compatible looks like [here](https://mypy.readthedocs.io/en/stable/python2.html) is what we will need to follow

[2022-06-14 10:37] Daenara opened #70 "Type hinting issue"
**Pylightxl Version**: 1.5.9
**Python Version**: 3.8

**Summary of Bug/Feature**: In the quickstart guide for reading excel files it states:
[code]
This works, but when adding that to my IDE (pycharm) it complains about a path object not being a string but a Path object. This is just a typehinting issue, but I thought I would report it anyway.

**Suggestion for fix**: Just replace the string type

[2022-08-04 23:52] bRitch022 opened #71 "Database.nr(name="SomeNameThatExists") always fails with KeyError"
#
Names are redacted to prove the point -- `SomeNameThatExists` is an actual name on the `SheetThatExists` sheet of a .xlsx file. I've confirmed it shows up in the `pylightxl.Dictionary._ws` as well by printing the contents of the `_ws` just before this call.

Snippet:
[code]

Output:
[code]
I found that the following change resolved this issue, but I'm not sure that this is the most appropriate f

[2022-08-05 04:04] PydPiper commented on #71
@bRitch022 thank you for considering using pylightxl for your project and submitting this issue. We will take a look to see if we can replicate the issue on our end and will get bet to you shortly

[2022-08-05 04:38] bRitch022 commented on #71
Great! Let me know if I can provide any further clarification. Thanks for being so prompt. I’ve applied the patch to my current project

[2022-08-05 17:58] bRitch022 opened #72 "Add feature to write to a named cell"
**Pylightxl Version**: 1.59
**Python Version**: 3.8.10

**Summary of Bug/Feature**:
### Feature Request
Add ability to write to a named cell

**Traceback**:

**Suggestion for fix**:

[2022-08-06 01:40] PydPiper commented on #72
Hey @bRitch022 i saw your MR, i am pull it down now to run some tests and fix up a few minor things on it before i merge it. Thanks for contributing!

[2022-08-06 01:52] PydPiper commented on #71
@bRitch022 Hey i finally had some time to sit down and dig into this a bit and it looks like this is not a bug from my end. Judging from your traceback it looks like you have named one of your sheets `'SheetThatExists'` with the `'` in the name thus that is what you will also have to use when trying to key it from `wb.ws`. You can confirm this if you run `wb.ws_names`. Let me know if you are seein

[2022-08-06 05:32] PydPiper commented on #72
Hey @bRitch022 i just released v1.60 that has the namedrange features you were looking for. Let me know if anything else comes up. It is a bit different in structure than your MR so i am going to close that out. I did use what you had as a benchmark but wanted to keep the organization the same through the entire pylightxl project. Thanks again for submitting these issues!

[2022-08-06 05:32] #72 closed

[2022-08-06 14:44] bRitch022 commented on #71
Odd. I'm pretty certain my sheet name doesn't include single quotes in it. After the weekend I'll send the version info of the workbook that's causing the issue to happen and run another test case as well.

[2022-08-08 08:52] grawlinson opened #74 "Repository tags out of sync with PyPi release"
I package this for the [AUR](https://aur.archlinux.org/packages/python-pylightxl) using git tags, and this repository doesn't seem to have a tag associated with the recent release (1.60 on PyPi).

I'd appreciate if a tag for 1.60 was pushed to the repository. Thanks! :smile:

[2022-08-08 15:37] PydPiper commented on #74
@grawlinson sorry about that, totally spaced adding the recent release as a tag. All set now. Thanks for the reminder! :)

[2022-08-08 15:37] #74 closed

[2022-10-13 19:18] flc opened #75 "pylightxl.Database.ws_names returns incorrect sheet names in some cases"
**Pylightxl Version**: 1.60
**Python Version**: 3.9.14

**Code to reproduce the problem**:
[code]
The output is:
[code]

However the file contains only 1 sheet named `#3969`.
The weird thing is that if I rename the sheet to `sheet` for example, save it in LibreOffice (see the attached `test_sheet_rename.xlsx`), then I get from the above code what is expected: `ws_names` return only 1 sheet named `

[2022-10-18 08:14] flc commented on #75
the problem seems to be the difference between these two:

[code]

[code]

because
`#3969` != `&apos;#3969&apos;` aka `'#3969'`

xlrd==1.2.0:

[2022-10-24 13:34] tpc1095 commented on #69
Thank you for doing this work. I am using Pylance (seems to be the default for Visual Studio Code) and it highlights a small number of possibly serious type issues. I am looking forward to using the new version.